.MapInfo {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  background-color: #b8b7b7e3;
  border: 1px solid black;
  border-radius: 0.5em;
  color: navy;
  padding: 0.4em;
  box-sizing: border-box;
  font-size: 1rem;
  user-select: none;

  div {
    display: flex;
    justify-content: center;
  }

  button {
    margin: 0.1em;
    padding: 0.5em;
  }
}
